@import "bulma";

// Partial SCSS Imports //
@import "dashboard";
@import "add_image";
@import "detail";

* {
  box-sizing: border-box;
}

.container {
  width: 98vw;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  &:visited {
    color: black;
  }
}

ul {
  list-style: none;
  padding: 0px;
}

nav {
  margin-bottom: 3vw;
  a {
    margin: 0px 20px;
  }
}

footer {
  
  margin-top: 3vw;
}
