<div class="add-image-container">
  <form class="add-image-form" ng-submit="submitImage(image)">
    <h2 class="title">Add your own image!</h2>
    <label for="title">
      Title:
    </label>
    <input id="title" type="text" name="title" ng-model="image.title">
    <label for="desc">
      Description:
    </label>
    <input id="desc" type="text" name="description" ng-model="image.description">
    <label for="src">
      Image URL:
    </label>
    <input id="src" type="text" name="source" ng-model="image.source">
    <button type="submit" name="button">Submit</button>
  </form>
</div>
